<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/konva.min.js"></script>
    <script src="vue.global.js"></script>

    
    
    <title>{{seo.title}}</title>
    
    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

  </head>
  <body>
   
    <div style="display: flex;">
      <div id="container-stage">
        <div id="container"></div>
      </div>
      <div id="toolbar">
        <button  id="button-send-up-one-layer" alt="Send Up One Layer" title="Send Up One Layer" >


<svg width="50px" fill="lightgray" alt="Send Up One Layer" title="Send Up One Layer"  height="50px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
 <g>
  <path d="m45.312 45.703h3.9062v3.9062h-3.9062z"/>
  <path d="m52.734 45.703h3.9062v3.9062h-3.9062z"/>
  <path d="m60.156 45.703h3.9062v3.9062h-3.9062z"/>
  <path d="m67.578 45.703h3.9062v3.9062h-3.9062z"/>
  <path d="m75 45.703h3.9062v3.9062h-3.9062z"/>
  <path d="m82.422 45.703h3.9062v3.9062h-3.9062z"/>
  <path d="m52.734 82.812h3.9062v3.9062h-3.9062z"/>
  <path d="m60.156 82.812h3.9062v3.9062h-3.9062z"/>
  <path d="m67.578 82.812h3.9062v3.9062h-3.9062z"/>
  <path d="m75 82.812h3.9062v3.9062h-3.9062z"/>
  <path d="m82.422 82.812h3.9062v3.9062h-3.9062z"/>
  <path d="m45.312 53.125h3.9062v3.9062h-3.9062z"/>
  <path d="m45.312 60.547h3.9062v3.9062h-3.9062z"/>
  <path d="m45.312 67.969h3.9062v3.9062h-3.9062z"/>
  <path d="m45.312 75.391h3.9062v3.9062h-3.9062z"/>
  <path d="m45.312 82.812h3.9062v3.9062h-3.9062z"/>
  <path d="m82.422 53.125h3.9062v3.9062h-3.9062z"/>
  <path d="m82.422 60.547h3.9062v3.9062h-3.9062z"/>
  <path d="m82.422 67.969h3.9062v3.9062h-3.9062z"/>
  <path d="m82.422 75.391h3.9062v3.9062h-3.9062z"/>
  <path d="m81.332 26.301c-0.19531 0-0.42969 0.12109-0.67578 0.37891l-3.6367 3.7773-14.625-14.426c-1.9688-1.8945-4.5039-2.8359-7.0312-2.8359-2.6641 0-5.3203 1.0391-7.3125 3.1094-2.2695 2.3555-3.1641 5.4297-2.7188 8.4297l1.1523-1.2969v0.09375c1.2148-1.2617 2.8359-1.8516 4.4609-1.8516 1.543 0 3.0898 0.59766 4.2891 1.7539 0.007813 0.007812 12.504 12.391 14.625 14.438l-4.4531 4.6641c-0.625 0.64844-0.40625 1.2109 0.48047 1.2109h0.027343l14.699-0.21094c0.91016-0.011718 1.6367-0.78125 1.6133-1.6914l-0.38672-14.703c-0.007813-0.54688-0.21094-0.83984-0.50781-0.83984z"/>
  <path d="m32.812 33.203h29.031c-1.0586-0.78125-2.1406-1.9531-3.1641-3.125h-3.9922v-3.8672c-0.44141-0.43359-0.79688-0.78906-1.0391-1.0273l-0.042969-0.042969c-0.57031-0.54297-1.2773-0.89062-2.043-1.0117v5.9492h-21.875v21.875h-12.891v-34.375h27.43c0.55078-1.1719 1.2617-2.082 2.1289-2.9805 0.046875-0.050781 0.097656-0.14453 0.14453-0.14453h-32.828v40.625h16.016v16.016h15.625v-3.125h-12.5z"/>
 </g>





</svg>


        </button>
        <button id="button-send-down-one-layer" alt="Send Down One Layer" title="Send Down One Layer">

          <svg fill="lightgray" width="50px" height="50px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
           <g>
            <path d="m12.891 15.625h3.9062v3.5156h-3.9062z"/>
            <path d="m20.312 15.625h3.9062v3.5156h-3.9062z"/>
            <path d="m27.734 15.625h3.9062v3.5156h-3.9062z"/>
            <path d="m35.156 15.625h3.9062v3.5156h-3.9062z"/>
            <path d="m42.578 15.625h3.9062v3.5156h-3.9062z"/>
            <path d="m50 15.625h3.9062v3.5156h-3.9062z"/>
            <path d="m20.312 52.734h3.9062v3.5156h-3.9062z"/>
            <path d="m12.891 23.047h3.9062v3.5156h-3.9062z"/>
            <path d="m12.891 30.469h3.9062v3.5156h-3.9062z"/>
            <path d="m12.891 37.891h3.9062v3.5156h-3.9062z"/>
            <path d="m12.891 45.312h3.9062v3.5156h-3.9062z"/>
            <path d="m12.891 52.734h3.9062v3.5156h-3.9062z"/>
            <path d="m50 23.047h3.9062v3.5156h-3.9062z"/>
            <path d="m60.031 34.375h3.3281c-0.59766-0.60547-1.1445-1.1602-1.6172-1.6445z"/>
            <path d="m82.031 84.766h-34.375v-34.766h29.898c-0.070313-0.875-0.43359-1.6953-1.0508-2.3438l-0.16797-0.17188c-0.17969-0.18359-0.38281-0.38672-0.60938-0.61328l-6.1953 0.003906v-6.2539c-1.043-1.0547-2.1055-2.1289-3.125-3.1602v9.4141h-21.875v22.266h-12.5v-34.766h21.738c-0.023437-0.097656-0.039062-0.39062-0.058593-0.39062h0.19531v-3.5156h-3.9062v0.78125h-21.094v21.484h-1.1719v3.5156h1.1719v16.016h15.625v15.625h40.625v-31.547c-0.96875 0.64062-2.0234 1.1328-3.125 1.4766z"/>
            <path d="m85.609 38.871l-16.391-16.59 3.7812-3.6367c0.65625-0.63281 0.44922-1.168-0.46094-1.1914l-14.695-0.38672h-0.042969c-0.89062 0-1.6211 0.71875-1.6328 1.6133l-0.17578 14.699c-0.007813 0.5625 0.19141 0.86328 0.5 0.86328 0.19141 0 0.42187-0.11719 0.67187-0.35938l4.625-4.4531c2.043 2.125 16.379 16.582 16.391 16.594 2.3711 2.4609 2.2969 6.3398-0.16797 8.707v-0.042969l-1.2031 1.2031c0.49609 0.074219 1 0.13281 1.5 0.13281 2.5273 0 5.0625-0.91406 7.0273-2.8086 4.0352-3.8828 4.1602-10.305 0.27344-14.344z"/>
           </g>
          </svg>




        </button>

        <button disabled id="button-delete" alt="Delete Selected" title="Delete Selected">

          <svg width="50px" fill="lightgray" alt="Delete Selected" title="Delete Selected" height="50px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
           <path d="m77.578 25.102h-14.449v-1.7617c0-2.9414-2.3984-5.3398-5.3398-5.3398h-15.578c-2.9414 0-5.3398 2.3906-5.3398 5.3398v1.7617h-14.449c-1.2812 0-2.3203 1.0391-2.3203 2.3203s1.0391 2.3203 2.3203 2.3203h3.3594l2.75 46.07c0.21094 3.4805 3.1016 6.1992 6.5781 6.1992h29.77c3.4805 0 6.3789-2.7188 6.5781-6.1992l2.75-46.07h3.3594c1.2812 0 2.3203-1.0391 2.3203-2.3203s-1.0391-2.3203-2.3203-2.3203zm-36.078-1.7617c0-0.39062 0.30859-0.69922 0.69922-0.69922h15.578c0.39062 0 0.69922 0.30859 0.69922 0.69922v1.7617h-16.988v-1.7617zm25.328 52.18c-0.058594 1.0312-0.92188 1.8398-1.9492 1.8398h-29.77c-1.0312 0-1.8906-0.80859-1.9492-1.8398l-2.7383-45.789h39.148l-2.7383 45.789z"/>
           <path d="m38.949 35.672c-1.2812 0.070313-2.2617 1.1719-2.1797 2.4492l1.75 30.762c0.070313 1.2305 1.0898 2.1914 2.3086 2.1914h0.12891c1.2812-0.070313 2.2617-1.1719 2.1797-2.4492l-1.75-30.762c-0.070313-1.2812-1.1719-2.2695-2.4492-2.1797z"/>
           <path d="m61.051 35.672c-1.2617-0.070313-2.3711 0.89844-2.4492 2.1797l-1.75 30.762c-0.070312 1.2812 0.89844 2.3711 2.1797 2.4492h0.12891c1.2188 0 2.2383-0.94922 2.3086-2.1914l1.75-30.762c0.070312-1.2812-0.89844-2.3711-2.1797-2.4492z"/>
           <path d="m50 35.672c-1.2812 0-2.3203 1.0391-2.3203 2.3203v31.121c0 1.2812 1.0391 2.3203 2.3203 2.3203s2.3203-1.0391 2.3203-2.3203v-31.121c0-1.2812-1.0391-2.3203-2.3203-2.3203z"/>
          </svg>

        </button>

        <button style="width:64px" id="button-add-white-square">

          <svg  width="50px" height="50px"  xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="-20 -20 125 125">
            <!-- Generator: Adobe Illustrator 29.1.0, SVG Export Plug-In . SVG Version: 2.1.0 Build 142)  -->
            <defs>
              <style>
                .st0 {
                  fill: #150200;
                }

                .st0, .st1 {
                  stroke: #000;
                  stroke-miterlimit: 10;
                }

                .st1 {
                  fill: #fff;
                }
              </style>
            </defs>
            <path class="st0" d="M74.7,99.5c-5.7-.5-11.2-3.4-14.9-7.6-5.4-6.1-7.1-14.6-4.5-22.2,1.2-3.7,3.6-7.3,6.5-9.8,6.1-5.4,14.6-7.1,22.3-4.5,3.7,1.2,7.3,3.6,9.8,6.5,5.4,6.1,7.1,14.6,4.5,22.2-1.2,3.7-3.6,7.3-6.5,9.8-4.7,4.1-11.1,6.2-17.2,5.6h0Z"/>
            <path class="st1" d="M80.1,85.2v-5.9h11.9v-5.7h-11.9v-11.9h-5.7v11.9h-11.9v5.7h11.9v11.9h5.7v-5.9ZM0,39.2V.8h76.8v47.2h-1.5c-6.9,0-13.5,2.7-18.5,7.5-2.3,2.3-3.9,4.5-5.4,7.4-2,4-2.8,8.2-2.7,12.7v2C48.8,77.6,0,77.6,0,77.6v-38.4Z"/>
          </svg>

        </button>

        <button id="button-add-black-square">

          <svg fill="#000000" width="50px" height="50px" version="1.1" viewbox="-20 -20 125 125" xmlns="http://www.w3.org/2000/svg">
           <path d="m75.176 99.078c-5.6836-0.54688-11.227-3.3594-14.898-7.5547-5.3672-6.1328-7.0938-14.582-4.543-22.25 1.2344-3.7148 3.6211-7.3398 6.4766-9.8398 6.1328-5.3672 14.582-7.0938 22.25-4.543 3.7148 1.2344 7.3398 3.6211 9.8398 6.4766 5.3672 6.1328 7.0938 14.582 4.543 22.25-1.2344 3.7148-3.6211 7.3398-6.4766 9.8398-4.7344 4.1445-11.059 6.2109-17.191 5.6211zm4.957-13.859v-5.9258h11.852v-5.6875h-11.852v-11.852h-5.6875v11.852h-11.852v5.6875h11.852v11.852h5.6875zm-80.133-45.992v-38.406h76.812v47.18h-1.5117c-6.9375 0-13.547 2.6875-18.504 7.5195-2.3242 2.2656-3.9414 4.4883-5.3516 7.3594-1.957 3.9766-2.8438 8.1719-2.6875 12.711l0.070313 2.043h-48.828z"/>
          </svg>

        </button>




      </div>
        <div id="container-pallet-tab">
        <button id="container-pallet-tab-button" style="border-radius:0;">
          <svg fill="#000000" width="35px" height="35px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
           <g>
            <path d="m48.68 78.199c-4.0586-3.4219-8.1016-6.8203-12.16-10.238-6.4609-5.4414-12.941-10.879-19.398-16.32-1.5-1.2617-2.9805-2.5195-4.4805-3.7617v4.2383c4.0586-3.4219 8.1016-6.8203 12.16-10.238 6.4609-5.4414 12.941-10.879 19.398-16.32 1.5-1.2617 2.9805-2.5195 4.4805-3.7617 1.2383-1.0391 1.0781-3.1602 0-4.2383-1.2188-1.2188-3-1.0391-4.2383 0-4.0586 3.4219-8.1016 6.8203-12.16 10.238-6.4609 5.4414-12.941 10.879-19.398 16.32-1.5 1.2617-2.9805 2.5195-4.4805 3.7617-1.1602 0.98047-1.1602 3.2617 0 4.2383 4.0586 3.4219 8.1016 6.8203 12.16 10.238 6.4609 5.4414 12.941 10.879 19.398 16.32 1.5 1.2617 2.9805 2.5195 4.4805 3.7617 1.2383 1.0391 3.0195 1.2188 4.2383 0 1.082-1.0586 1.2422-3.1758 0-4.2383z"/>
            <path d="m91.602 78.199c-4.0586-3.4219-8.1016-6.8203-12.16-10.238-6.4609-5.4414-12.941-10.879-19.398-16.32-1.5-1.2617-2.9805-2.5195-4.4805-3.7617v4.2383c4.0586-3.4219 8.1016-6.8203 12.16-10.238 6.4609-5.4414 12.941-10.879 19.398-16.32 1.5-1.2617 2.9805-2.5195 4.4805-3.7617 1.2383-1.0391 1.0781-3.1602 0-4.2383-1.2188-1.2188-3-1.0391-4.2383 0-4.0586 3.4219-8.1016 6.8203-12.16 10.238-6.4609 5.4414-12.941 10.879-19.398 16.32-1.5 1.2617-2.9805 2.5195-4.4805 3.7617-1.1602 0.98047-1.1602 3.2617 0 4.2383 4.0586 3.4219 8.1016 6.8203 12.16 10.238 6.4609 5.4414 12.941 10.879 19.398 16.32 1.5 1.2617 2.9805 2.5195 4.4805 3.7617 1.2383 1.0391 3.0195 1.2188 4.2383 0 1.0781-1.0586 1.2383-3.1758 0-4.2383z"/>
           </g>
          </svg>
          
          
        </button>
      
      </div>

      <div id="container-pallet">
        







      <div id="app">

        <div id="tabs">
          
            <div style="border-right: solid 1px gray;">

              
              <template v-if="activeTab!='random'">
                  <button
                    data-tooltip="Random Woodcuts"
                    data-tooltip-location="bottom"
                    @click="activateTab('random')"
                  >
                  <svg fill="#000000" width="30px" height="30px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                   <g>
                    <path d="m6.668 3.332l-6.668 30 23.332-13.332zm1.9336 6.6523l9.2852 9.2852-13 7.4297z"/>
                    <path d="m80 33.332l20-23.332-26.668-6.668zm1.8086-7.2305l-4.0508-18.23 16.199 4.0547z"/>
                    <path d="m70 80l-26.668-6.668 6.668 26.668zm-6.5195 1.8086l-11.672 11.672-3.8906-15.566z"/>
                    <path d="m43.332 63.332h-26.668l13.332 23.332zm-5.7422 3.3359l-7.5898 13.277-7.5898-13.277z"/>
                    <path d="m53.473 0l-23.473 16.668 36.809 10zm-1.2422 4.9688l8.2617 16.527-22.809-6.1953z"/>
                    <path d="m33.332 26.668l16.668 33.332 20-20zm6.7266 5.9922l23.887 8.6836-13.031 13.027z"/>
                    <path d="m6.668 73.332l-6.668 26.668h26.668zm1.5312 7.6055l11.801 15.73h-15.73z"/>
                    <path d="m3.332 56.668h33.332l-13.332-23.332zm7.2461-3.3359l12.207-14.238 8.1367 14.238z"/>
                    <path d="m93.332 100l6.668-23.332h-26.668zm-1.5039-6.875l-11.25-13.125h15z"/>
                    <path d="m90 70l10-36.668-36.668 26.668zm-2.2539-4.4023l-17.441-6.543 23.984-17.441z"/>
                   </g>
                  </svg>
                </button>

              </template>
              <template v-else>
                  <button
                    data-tooltip="More Random"
                    data-tooltip-location="bottom"
                    @click="activateTab('random')"
                  >
                  <svg fill="#000000" width="30px" height="30px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                   <path d="m83.332 39.582v-20.832l-7.293 7.293c-6.457-7.0859-15.832-11.461-26.039-11.461-19.582 0-35.418 15.836-35.418 35.418s15.832 35.418 35.418 35.418c10 0 18.957-4.168 25.418-10.832l-5.832-6.043c-4.793 5.207-11.879 8.5391-19.586 8.5391-15 0-27.082-12.082-27.082-27.082s12.082-27.082 27.082-27.082c7.918 0 15.207 3.543 20.207 8.957l-7.707 7.707z"/>
                  </svg>
                </button>

              </template>
            </div>
            <div style="border-right: solid 1px gray;">

              <template v-if="activeCategory==null">
                <button
                  data-tooltip="Woodcut by Categories"
                  data-tooltip-location="bottom"
                  @click="activateTab('categories')"
                >
                <svg fill="#000000" width="30px" height="30px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                 <path d="m59.375 42.906v14.188c0 1.293-1.0508 2.3438-2.3438 2.3438h-14.125c-1.293 0-2.3438-1.0508-2.3438-2.3438v-14.188c0-1.293 1.0508-2.3438 2.3438-2.3438h14.188c1.2695 0.035156 2.2812 1.0742 2.2812 2.3438zm-26.766-2.2812h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.188c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.25c-0.035156-1.2695-1.0742-2.2812-2.3438-2.2812zm48.969-25h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.25c-0.027344-1.2773-1.0664-2.2969-2.3438-2.2969zm0 25h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.188c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.25c-0.035156-1.2695-1.0742-2.2812-2.3438-2.2812zm0 25h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.297c0-1.293-1.0508-2.3438-2.3438-2.3438zm-24.484-50h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.25c-0.027344-1.2773-1.0664-2.2969-2.3438-2.2969zm-24.484 0h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.25c-0.027344-1.2773-1.0664-2.2969-2.3438-2.2969zm0 50h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.297c0-1.293-1.0508-2.3438-2.3438-2.3438zm24.484 0h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.297c0-1.293-1.0508-2.3438-2.3438-2.3438z"/>
                </svg>
              </button>
              </template>
              <template v-else>
                
              <button
                data-tooltip="Back to List"
                data-tooltip-location="bottom"
                @click="activateTab('categories')"
              >
                <svg fill="#000000" width="30px" height="30px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                 <g>
                  <path d="m70 19h-40c-6.0742 0-11 4.9258-11 11v40c0 6.0742 4.9258 11 11 11h40c6.0742 0 11-4.9258 11-11v-40c0-6.0742-4.9258-11-11-11zm5 51c0 1.3242-0.52734 2.5977-1.4648 3.5352s-2.2109 1.4648-3.5352 1.4648h-40c-2.7617 0-5-2.2383-5-5v-40c0-2.7617 2.2383-5 5-5h40c1.3242 0 2.5977 0.52734 3.5352 1.4648s1.4648 2.2109 1.4648 3.5352z"/>
                  <path d="m52 35.762-12.121 12.117c-1.168 1.1719-1.168 3.0703 0 4.2422l12.121 12.117 4.2383-4.2383-10-10 10-10z"/>
                 </g>
                </svg>
              </button>



              </template>



            </div>

            <div style="border-right: solid 1px gray;">

              <button
                data-tooltip="Woodcut Sources"
                data-tooltip-location="bottom"
                @click="activateTab('sources')"
              >
                  <svg fill="#000000" width="30px" height="30px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                   <g>
                    <path d="m48.379 72.344h-4.3945-10.234-11.992-9.3828c-1.7578 0-4.1484 0.39844-5.2656-1.3086-0.48047-0.73438-0.48828-1.4844-0.48828-2.3047v-2.7539-9.7734-12.012-9.9141-2.8594c0-0.67188-0.039063-1.3477 0.24219-1.9922 0.54688-1.2422 1.7383-1.7578 3.0078-1.7578h2.2852 9.2266 11.934 10.398c1.5547 0 3.1055-0.019531 4.6484 0 1.6797 0.019531 2.9297 1.375 2.9375 3.0156v1.7891 8.625 11.828 10.812c0 1.8555 0.007813 3.7109 0 5.5781-0.003906 1.6406-1.2305 2.9961-2.9219 3.0273-1.2578 0.019531-1.2578 1.9727 0 1.9531 2.6953-0.046875 4.8516-2.2188 4.8828-4.9219 0.007812-0.53906 0-1.0742 0-1.6016v-8.5938-12.039-10.996c0-1.8281 0.007812-3.6523 0-5.4688-0.007813-2.3633-1.6992-4.5117-4.082-4.8828-0.61719-0.097657-1.2305-0.070313-1.8438-0.070313h-7.8711-11.867-11.367-6.3867c-1.7578 0-3.3281 0.70312-4.3438 2.168-0.68359 0.98438-0.82812 2.1289-0.82812 3.293v7.0781 11.609 11.672 7.2344c0 1.0859 0.097656 2.1289 0.65625 3.0938 0.9375 1.6211 2.6484 2.4414 4.4727 2.4414h6.2422 11.309 11.855 8.0156 1.1523c1.2539-0.015625 1.2656-1.9688 0.003906-1.9688z"/>
                    <path d="m94.355 35.371h-3.3672-8.1055-9.8125-8.4844-2.8047c-0.4375 0-0.89844-0.039063-1.3359 0h-0.058593l0.97656 0.97656v-8.457-1.2109l-0.97656 0.97656h3.3672 8.1055 9.8125 8.4844 2.8047c0.4375 0 0.89844 0.039062 1.3359 0h0.058594c-0.32031-0.32031-0.65625-0.65625-0.97656-0.97656v8.457 1.2109c0 1.2578 1.9531 1.2578 1.9531 0v-8.457-1.2109c0-0.52734-0.44922-0.97656-0.97656-0.97656h-3.3672-8.1055-9.8125-8.4844c-1.375 0-2.7656-0.058594-4.1406 0h-0.058593c-0.52734 0-0.97656 0.44922-0.97656 0.97656v8.457 1.2109c0 0.52734 0.44922 0.97656 0.97656 0.97656h3.3672 8.1055 9.8125 8.4844c1.375 0 2.7656 0.058593 4.1406 0h0.058594c1.2617 0 1.2617-1.9531 0-1.9531z"/>
                    <path d="m94.355 53.859h-3.3672-8.1055-9.8125-8.4844-2.8047c-0.4375 0-0.89844-0.039063-1.3359 0h-0.058593c0.32031 0.32031 0.65625 0.65625 0.97656 0.97656v-8.457-1.2109l-0.97656 0.97656h3.3672 8.1055 9.8125 8.4844 2.8047c0.4375 0 0.89844 0.039063 1.3359 0h0.058594c-0.32031-0.32031-0.65625-0.65625-0.97656-0.97656v8.457 1.2109c0 1.2578 1.9531 1.2578 1.9531 0v-8.457-1.2109c0-0.52734-0.44922-0.97656-0.97656-0.97656h-3.3672-8.1055-9.8125-8.4844c-1.375 0-2.7656-0.058594-4.1406 0h-0.058593c-0.52734 0-0.97656 0.44922-0.97656 0.97656v8.457 1.2109c0 0.52734 0.44922 0.97656 0.97656 0.97656h3.3672 8.1055 9.8125 8.4844c1.375 0 2.7656 0.058594 4.1406 0h0.058594c1.2617 0 1.2617-1.9531 0-1.9531z"/>
                    <path d="m94.355 72.344h-3.3672-8.1055-9.8125-8.4844-2.8047c-0.4375 0-0.89844-0.039062-1.3359 0h-0.058593l0.97656 0.97656v-8.457-1.2109l-0.97656 0.97656h3.3672 8.1055 9.8125 8.4844 2.8047c0.4375 0 0.89844 0.039063 1.3359 0h0.058594c-0.32031-0.32031-0.65625-0.65625-0.97656-0.97656v8.457 1.2109c0 1.2578 1.9531 1.2578 1.9531 0v-8.457-1.2109c0-0.52734-0.44922-0.97656-0.97656-0.97656h-3.3672-8.1055-9.8125-8.4844c-1.375 0-2.7656-0.058593-4.1406 0h-0.058593c-0.52734 0-0.97656 0.44922-0.97656 0.97656v8.457 1.2109c0 0.52734 0.44922 0.97656 0.97656 0.97656h3.3672 8.1055 9.8125 8.4844c1.375 0 2.7656 0.058594 4.1406 0h0.058594c1.2617 0 1.2617-1.9531 0-1.9531z"/>
                    <path d="m10.605 68.547h3.6641 8.7891 10.633 9.1875c1.4844 0 2.9766 0.058594 4.4531 0h0.070313c0.68359 0 1.2969-0.84766 0.83984-1.4648-1.5312-2.0781-3.0781-4.1484-4.6094-6.2305-2.4414-3.293-4.8828-6.5938-7.3242-9.8828-0.56641-0.76172-1.125-1.5234-1.6875-2.2852-0.33203-0.44922-1.1016-0.74219-1.5312-0.19531-2.0234 2.5469-4.043 5.0977-6.0625 7.6484-0.29297 0.35938-0.57812 0.73438-0.86719 1.0938h1.375c-1.8555-1.5938-3.7109-3.1719-5.5664-4.7656-0.26562-0.22266-0.52734-0.44922-0.78906-0.68359-0.48828-0.42188-1.1719-0.35938-1.5312 0.19531-1.1133 1.6992-2.2266 3.4062-3.3398 5.1094-1.7773 2.7148-3.543 5.4219-5.3203 8.1328-0.41016 0.625-0.8125 1.2422-1.2188 1.8672-0.69531 1.0547 0.99609 2.0312 1.6875 0.98437 1.1133-1.6992 2.2266-3.4062 3.3398-5.1094 1.7773-2.7148 3.543-5.4219 5.3203-8.1328 0.41016-0.625 0.8125-1.2422 1.2188-1.8672-0.50781 0.070312-1.0234 0.125-1.5312 0.19531 1.8555 1.5938 3.7109 3.1719 5.5664 4.7656 0.26562 0.22266 0.52734 0.44922 0.78906 0.68359 0.35938 0.3125 1.0352 0.4375 1.375 0 2.0234-2.5469 4.043-5.0977 6.0625-7.6484 0.29297-0.35938 0.57812-0.73438 0.86719-1.0938-0.50781-0.070312-1.0234-0.125-1.5312-0.19531 1.5312 2.0781 3.0781 4.1484 4.6094 6.2305 2.4414 3.293 4.8828 6.5938 7.3242 9.8828 0.56641 0.76172 1.125 1.5234 1.6875 2.2852 0.28125-0.48828 0.56641-0.97656 0.83984-1.4648h-3.6641-8.7891-10.633-9.1875c-1.4844 0-2.9766-0.058593-4.4531 0h-0.070313c-1.2539-0.007812-1.2539 1.9453 0.007813 1.9453z"/>
                   </g>
                  </svg>


              </button>


            </div>



            <div>
              <button
                data-tooltip="Save or Post"
                data-tooltip-location="bottom"
                @click="activateTab('save')"
              >

                <svg fill="#000000" width="30px" height="30px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                 <g>
                  <path d="m86.328 52.977v-40.867h-78.906v60.156h31.25v7.4219c0 4.5234 3.6797 8.2031 8.2031 8.2031h37.5c4.5234 0 8.2031-3.6797 8.2031-8.2031v-18.75c0-3.8516-2.6719-7.0781-6.25-7.9609zm-8.4062-36.961-31.047 20.703-31.047-20.703zm-39.25 44.922v7.4219h-27.344v-50.648l35.547 23.695 35.547-23.695v35.023h-14.844v-5.7656c2.7109-0.83594 4.6875-3.3672 4.6875-6.3438 0-3.6641-2.9766-6.6406-6.6406-6.6406s-6.6406 2.9766-6.6406 6.6406c0 2.9844 1.9766 5.5078 4.6875 6.3438v5.7656h-16.797c-4.5234 0-8.2031 3.6797-8.2031 8.2031zm26.953-17.578c-1.5078 0-2.7344-1.2266-2.7344-2.7344s1.2266-2.7344 2.7344-2.7344 2.7344 1.2266 2.7344 2.7344-1.2266 2.7344-2.7344 2.7344zm23.047 36.328c0 2.3672-1.9297 4.2969-4.2969 4.2969h-37.5c-2.3672 0-4.2969-1.9297-4.2969-4.2969v-18.75c0-2.3672 1.9297-4.2969 4.2969-4.2969h37.5c2.3672 0 4.2969 1.9297 4.2969 4.2969z"/>
                  <path d="m45.656 71.914 2.4375 3.0469 6.5938-5.2734 6.5938 5.2734 2.4375-3.0469-9.0312-7.2266z"/>
                  <path d="m67.531 71.914 2.4375 3.0469 6.5938-5.2734 6.5938 5.2734 2.4375-3.0469-9.0312-7.2266z"/>
                 </g>
                </svg>
              </button>

            </div>


        </div> 


        <div>

          <div id="welcome" v-if="activeTab=='welcome'">

            <p>
              
              Hi there, this interface lets you overlay design elements extracted from the 14K woodcut collection housed at the <a href="https://museumplantinmoretus.be/en/impressedbyplantin" target="_blank">Plantin-Moretus Museum</a>. 
              
              <p>Click the [<svg fill="#000000" width="20px" height="20px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                   <g>
                    <path d="m6.668 3.332l-6.668 30 23.332-13.332zm1.9336 6.6523l9.2852 9.2852-13 7.4297z"/>
                    <path d="m80 33.332l20-23.332-26.668-6.668zm1.8086-7.2305l-4.0508-18.23 16.199 4.0547z"/>
                    <path d="m70 80l-26.668-6.668 6.668 26.668zm-6.5195 1.8086l-11.672 11.672-3.8906-15.566z"/>
                    <path d="m43.332 63.332h-26.668l13.332 23.332zm-5.7422 3.3359l-7.5898 13.277-7.5898-13.277z"/>
                    <path d="m53.473 0l-23.473 16.668 36.809 10zm-1.2422 4.9688l8.2617 16.527-22.809-6.1953z"/>
                    <path d="m33.332 26.668l16.668 33.332 20-20zm6.7266 5.9922l23.887 8.6836-13.031 13.027z"/>
                    <path d="m6.668 73.332l-6.668 26.668h26.668zm1.5312 7.6055l11.801 15.73h-15.73z"/>
                    <path d="m3.332 56.668h33.332l-13.332-23.332zm7.2461-3.3359l12.207-14.238 8.1367 14.238z"/>
                    <path d="m93.332 100l6.668-23.332h-26.668zm-1.5039-6.875l-11.25-13.125h15z"/>
                    <path d="m90 70l10-36.668-36.668 26.668zm-2.2539-4.4023l-17.441-6.543 23.984-17.441z"/>
                   </g>
                  </svg>] button to view a random assortment, click again to shuffle, the [<svg fill="#000000" width="20px" height="20px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                 <path d="m59.375 42.906v14.188c0 1.293-1.0508 2.3438-2.3438 2.3438h-14.125c-1.293 0-2.3438-1.0508-2.3438-2.3438v-14.188c0-1.293 1.0508-2.3438 2.3438-2.3438h14.188c1.2695 0.035156 2.2812 1.0742 2.2812 2.3438zm-26.766-2.2812h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.188c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.25c-0.035156-1.2695-1.0742-2.2812-2.3438-2.2812zm48.969-25h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.25c-0.027344-1.2773-1.0664-2.2969-2.3438-2.2969zm0 25h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.188c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.25c-0.035156-1.2695-1.0742-2.2812-2.3438-2.2812zm0 25h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.297c0-1.293-1.0508-2.3438-2.3438-2.3438zm-24.484-50h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.25c-0.027344-1.2773-1.0664-2.2969-2.3438-2.2969zm-24.484 0h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.25c-0.027344-1.2773-1.0664-2.2969-2.3438-2.2969zm0 50h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.297c0-1.293-1.0508-2.3438-2.3438-2.3438zm24.484 0h-14.188c-1.293 0-2.3438 1.0508-2.3438 2.3438v14.203c0 1.293 1.0508 2.3438 2.3438 2.3438h14.188c1.293 0 2.3438-1.0508 2.3438-2.3438v-14.297c0-1.293-1.0508-2.3438-2.3438-2.3438z"/>
                </svg>] button to browse by categories, the [<svg fill="#000000" width="30px" height="30px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                   <g>
                    <path d="m48.379 72.344h-4.3945-10.234-11.992-9.3828c-1.7578 0-4.1484 0.39844-5.2656-1.3086-0.48047-0.73438-0.48828-1.4844-0.48828-2.3047v-2.7539-9.7734-12.012-9.9141-2.8594c0-0.67188-0.039063-1.3477 0.24219-1.9922 0.54688-1.2422 1.7383-1.7578 3.0078-1.7578h2.2852 9.2266 11.934 10.398c1.5547 0 3.1055-0.019531 4.6484 0 1.6797 0.019531 2.9297 1.375 2.9375 3.0156v1.7891 8.625 11.828 10.812c0 1.8555 0.007813 3.7109 0 5.5781-0.003906 1.6406-1.2305 2.9961-2.9219 3.0273-1.2578 0.019531-1.2578 1.9727 0 1.9531 2.6953-0.046875 4.8516-2.2188 4.8828-4.9219 0.007812-0.53906 0-1.0742 0-1.6016v-8.5938-12.039-10.996c0-1.8281 0.007812-3.6523 0-5.4688-0.007813-2.3633-1.6992-4.5117-4.082-4.8828-0.61719-0.097657-1.2305-0.070313-1.8438-0.070313h-7.8711-11.867-11.367-6.3867c-1.7578 0-3.3281 0.70312-4.3438 2.168-0.68359 0.98438-0.82812 2.1289-0.82812 3.293v7.0781 11.609 11.672 7.2344c0 1.0859 0.097656 2.1289 0.65625 3.0938 0.9375 1.6211 2.6484 2.4414 4.4727 2.4414h6.2422 11.309 11.855 8.0156 1.1523c1.2539-0.015625 1.2656-1.9688 0.003906-1.9688z"/>
                    <path d="m94.355 35.371h-3.3672-8.1055-9.8125-8.4844-2.8047c-0.4375 0-0.89844-0.039063-1.3359 0h-0.058593l0.97656 0.97656v-8.457-1.2109l-0.97656 0.97656h3.3672 8.1055 9.8125 8.4844 2.8047c0.4375 0 0.89844 0.039062 1.3359 0h0.058594c-0.32031-0.32031-0.65625-0.65625-0.97656-0.97656v8.457 1.2109c0 1.2578 1.9531 1.2578 1.9531 0v-8.457-1.2109c0-0.52734-0.44922-0.97656-0.97656-0.97656h-3.3672-8.1055-9.8125-8.4844c-1.375 0-2.7656-0.058594-4.1406 0h-0.058593c-0.52734 0-0.97656 0.44922-0.97656 0.97656v8.457 1.2109c0 0.52734 0.44922 0.97656 0.97656 0.97656h3.3672 8.1055 9.8125 8.4844c1.375 0 2.7656 0.058593 4.1406 0h0.058594c1.2617 0 1.2617-1.9531 0-1.9531z"/>
                    <path d="m94.355 53.859h-3.3672-8.1055-9.8125-8.4844-2.8047c-0.4375 0-0.89844-0.039063-1.3359 0h-0.058593c0.32031 0.32031 0.65625 0.65625 0.97656 0.97656v-8.457-1.2109l-0.97656 0.97656h3.3672 8.1055 9.8125 8.4844 2.8047c0.4375 0 0.89844 0.039063 1.3359 0h0.058594c-0.32031-0.32031-0.65625-0.65625-0.97656-0.97656v8.457 1.2109c0 1.2578 1.9531 1.2578 1.9531 0v-8.457-1.2109c0-0.52734-0.44922-0.97656-0.97656-0.97656h-3.3672-8.1055-9.8125-8.4844c-1.375 0-2.7656-0.058594-4.1406 0h-0.058593c-0.52734 0-0.97656 0.44922-0.97656 0.97656v8.457 1.2109c0 0.52734 0.44922 0.97656 0.97656 0.97656h3.3672 8.1055 9.8125 8.4844c1.375 0 2.7656 0.058594 4.1406 0h0.058594c1.2617 0 1.2617-1.9531 0-1.9531z"/>
                    <path d="m94.355 72.344h-3.3672-8.1055-9.8125-8.4844-2.8047c-0.4375 0-0.89844-0.039062-1.3359 0h-0.058593l0.97656 0.97656v-8.457-1.2109l-0.97656 0.97656h3.3672 8.1055 9.8125 8.4844 2.8047c0.4375 0 0.89844 0.039063 1.3359 0h0.058594c-0.32031-0.32031-0.65625-0.65625-0.97656-0.97656v8.457 1.2109c0 1.2578 1.9531 1.2578 1.9531 0v-8.457-1.2109c0-0.52734-0.44922-0.97656-0.97656-0.97656h-3.3672-8.1055-9.8125-8.4844c-1.375 0-2.7656-0.058593-4.1406 0h-0.058593c-0.52734 0-0.97656 0.44922-0.97656 0.97656v8.457 1.2109c0 0.52734 0.44922 0.97656 0.97656 0.97656h3.3672 8.1055 9.8125 8.4844c1.375 0 2.7656 0.058594 4.1406 0h0.058594c1.2617 0 1.2617-1.9531 0-1.9531z"/>
                    <path d="m10.605 68.547h3.6641 8.7891 10.633 9.1875c1.4844 0 2.9766 0.058594 4.4531 0h0.070313c0.68359 0 1.2969-0.84766 0.83984-1.4648-1.5312-2.0781-3.0781-4.1484-4.6094-6.2305-2.4414-3.293-4.8828-6.5938-7.3242-9.8828-0.56641-0.76172-1.125-1.5234-1.6875-2.2852-0.33203-0.44922-1.1016-0.74219-1.5312-0.19531-2.0234 2.5469-4.043 5.0977-6.0625 7.6484-0.29297 0.35938-0.57812 0.73438-0.86719 1.0938h1.375c-1.8555-1.5938-3.7109-3.1719-5.5664-4.7656-0.26562-0.22266-0.52734-0.44922-0.78906-0.68359-0.48828-0.42188-1.1719-0.35938-1.5312 0.19531-1.1133 1.6992-2.2266 3.4062-3.3398 5.1094-1.7773 2.7148-3.543 5.4219-5.3203 8.1328-0.41016 0.625-0.8125 1.2422-1.2188 1.8672-0.69531 1.0547 0.99609 2.0312 1.6875 0.98437 1.1133-1.6992 2.2266-3.4062 3.3398-5.1094 1.7773-2.7148 3.543-5.4219 5.3203-8.1328 0.41016-0.625 0.8125-1.2422 1.2188-1.8672-0.50781 0.070312-1.0234 0.125-1.5312 0.19531 1.8555 1.5938 3.7109 3.1719 5.5664 4.7656 0.26562 0.22266 0.52734 0.44922 0.78906 0.68359 0.35938 0.3125 1.0352 0.4375 1.375 0 2.0234-2.5469 4.043-5.0977 6.0625-7.6484 0.29297-0.35938 0.57812-0.73438 0.86719-1.0938-0.50781-0.070312-1.0234-0.125-1.5312-0.19531 1.5312 2.0781 3.0781 4.1484 4.6094 6.2305 2.4414 3.293 4.8828 6.5938 7.3242 9.8828 0.56641 0.76172 1.125 1.5234 1.6875 2.2852 0.28125-0.48828 0.56641-0.97656 0.83984-1.4648h-3.6641-8.7891-10.633-9.1875c-1.4844 0-2.9766-0.058593-4.4531 0h-0.070313c-1.2539-0.007812-1.2539 1.9453 0.007813 1.9453z"/>
                   </g>
                  </svg>] button to see the sources of the elements used, and the [<svg fill="#000000" width="20px" height="20px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                 <g>
                  <path d="m86.328 52.977v-40.867h-78.906v60.156h31.25v7.4219c0 4.5234 3.6797 8.2031 8.2031 8.2031h37.5c4.5234 0 8.2031-3.6797 8.2031-8.2031v-18.75c0-3.8516-2.6719-7.0781-6.25-7.9609zm-8.4062-36.961-31.047 20.703-31.047-20.703zm-39.25 44.922v7.4219h-27.344v-50.648l35.547 23.695 35.547-23.695v35.023h-14.844v-5.7656c2.7109-0.83594 4.6875-3.3672 4.6875-6.3438 0-3.6641-2.9766-6.6406-6.6406-6.6406s-6.6406 2.9766-6.6406 6.6406c0 2.9844 1.9766 5.5078 4.6875 6.3438v5.7656h-16.797c-4.5234 0-8.2031 3.6797-8.2031 8.2031zm26.953-17.578c-1.5078 0-2.7344-1.2266-2.7344-2.7344s1.2266-2.7344 2.7344-2.7344 2.7344 1.2266 2.7344 2.7344-1.2266 2.7344-2.7344 2.7344zm23.047 36.328c0 2.3672-1.9297 4.2969-4.2969 4.2969h-37.5c-2.3672 0-4.2969-1.9297-4.2969-4.2969v-18.75c0-2.3672 1.9297-4.2969 4.2969-4.2969h37.5c2.3672 0 4.2969 1.9297 4.2969 4.2969z"/>
                  <path d="m45.656 71.914 2.4375 3.0469 6.5938-5.2734 6.5938 5.2734 2.4375-3.0469-9.0312-7.2266z"/>
                  <path d="m67.531 71.914 2.4375 3.0469 6.5938-5.2734 6.5938 5.2734 2.4375-3.0469-9.0312-7.2266z"/>
                 </g>
                </svg>] button to download the image or allow a Bluesky bot (<a href="https://bsky.app/profile/woodblockshop.bsky.social" target="_blank">@woodblockshop</a>) to post your creation.</p>

            
            <p>Thanks, bye~ <br>By <a href="https://thisismattmiller.com" target="_blank">Matt Miller</a>, more info: <a href="https://thisismattmiller.com/post/woodblockshop/" target="_blank">blog post</a></p>
            
            <button @click="activateTab('random')">
              Get Started
              
            </button>

              
            </p>
           

          </div>

          

          <div id="random-grid" v-if="activeTab=='random' || activeCategory !== null">
            <div v-for="(i,idx) in randomImages">
              <img :src="i.image" @click="addImage($event,i)">
              <div class="svg-info" 
                :data-tooltip="i.title + '\n(Click Vist Site)'" 
                :data-tooltip-location="((idx+1) % 4 == 0) ? 'left' : 'right'">
              <svg @click="vistSite(i.url)"
                     fill="dimgrey" width="25px" height="25px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
               <path d="m50 5c-24.848 0-45 20.152-45 45s20.152 45 45 45 45-20.152 45-45-20.152-45-45-45zm6.3125 67.375c0 3.4883-2.8281 6.3125-6.3125 6.3125-3.4883 0-6.3125-2.8281-6.3125-6.3125v-23.457c0-3.4883 2.8281-6.3125 6.3125-6.3125 1.7422 0 3.3203 0.70312 4.4727 1.8555 1.1406 1.1406 1.8438 2.7148 1.8438 4.457zm-6.3125-38.434c-3.4883 0-6.3125-2.8281-6.3125-6.3125 0-3.4883 2.8281-6.3125 6.3125-6.3125 3.4883 0 6.3125 2.8281 6.3125 6.3125s-2.8242 6.3125-6.3125 6.3125z"/>
              </svg>
            </div>

            </div>
            <div style="height:25px; width: 100%; background-color: transparent;"></div>

          </div>

          
          <div id="categories" v-if="activeTab=='categories'">

            
            <ul v-if="activeCategory === null">
              <li v-for="(c,idx) in categories"> 
                
                <a href="#" @click="loadCategory(idx)"> ${c.label}$  (${c.count}$)</a>
              </li>
            </ul>

          </div>

          <div id="sources" v-if="activeTab=='sources'">
            
            <div style="text-align:center; font-style: italic; padding:1em;" v-if="activeSources.length==0">No Images Added Yet!</div>
            <table>
              <tr v-for="source in activeSources">
                <td style="text-align: center;"><img :src="source.image"></td>
                <td>${source.title}$</td>
                <td><a :href="source.url" target="_blank">Source</a></td>

              </tr> 
            </table>
          </div>

          <div id="save" v-if="activeTab=='save'">

            <div id="save-download">
              <button  @click="downloadImage">
                <svg fill="#000000" width="50px" height="50px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                 <path d="m23.039 67.832v-15.938h6.5586c1.4492 0 2.5977 0.085938 3.4453 0.25391 0.84766 0.16797 1.5547 0.44141 2.125 0.81641 0.73438 0.49609 1.2852 1.1133 1.6445 1.8516 0.35938 0.73438 0.53906 1.6094 0.53906 2.6172 0 1.7812-0.52344 3.1484-1.5781 4.0977-1.0547 0.94922-2.5703 1.4219-4.5547 1.4219h-3.0625v4.8789zm5.1172-8.7734h1.6445c1.0664 0 1.7812-0.11719 2.1445-0.35547 0.35938-0.23828 0.53906-0.66016 0.53906-1.2656 0-0.61328-0.17578-1.0391-0.51953-1.2773-0.34766-0.23828-1.0664-0.35547-2.1641-0.35547h-1.6445zm13.469 8.7734v-15.938h4.8555l4.4688 7.4102c0.13672 0.21094 0.28125 0.50391 0.4375 0.88672 0.15625 0.38281 0.32031 0.84375 0.49219 1.3867-0.042968-0.28125-0.074218-0.59375-0.097656-0.92969-0.023438-0.33984-0.03125-0.75-0.03125-1.2344v-7.5195h4.8789v15.938h-4.8789l-4.4688-7.3555c-0.13672-0.21875-0.28516-0.52344-0.44922-0.92187-0.16016-0.39844-0.32422-0.85156-0.49219-1.3633 0.050781 0.28125 0.089844 0.57422 0.10938 0.88281 0.019531 0.30859 0.03125 0.73828 0.03125 1.293v7.4648l-4.8555 0.003907zm32.133 0l-0.24609-1.375c-0.57812 0.61328-1.2734 1.0703-2.0898 1.3672-0.81641 0.30078-1.7656 0.44922-2.8477 0.44922-2.2773 0-4.0742-0.74609-5.3906-2.2461-1.3125-1.4961-1.9688-3.5469-1.9688-6.1484 0-2.6602 0.73047-4.7266 2.1953-6.1914 1.4648-1.4688 3.5156-2.2031 6.1562-2.2031 2.0742 0 3.7539 0.51562 5.0234 1.5469 1.2695 1.0312 2.0273 2.4844 2.2656 4.3594h-4.8555c-0.19531-0.63672-0.51172-1.1172-0.94531-1.4492-0.4375-0.33203-0.97656-0.49609-1.6172-0.49609-1.0234 0-1.7891 0.39453-2.3008 1.1797-0.50781 0.78516-0.76562 1.957-0.76562 3.5156 0 1.4414 0.25781 2.5195 0.76953 3.2344s1.2891 1.0703 2.3359 1.0703c0.75 0 1.3867-0.17578 1.9102-0.52344 0.52344-0.34766 0.84766-0.82031 0.96875-1.4102h-2.3047v-3.4062h7v8.7305zm11.488-65.75h-77.715c-2.2031 0-4 1.7969-4 4v87.836c0 2.2031 1.7969 4 4 4h84.934c2.2031 0 4-1.7969 4-4v-79.324zm-25.25 19.082h4.4141c1.3828 0 2.5-1.2461 2.5-2.7812l0.003906-13.301h8.418v19.164c0 0.55078-0.44922 1-1 1l-40.871 0.003906v-20.168h24.039v13.301c-0.003906 1.5391 1.1172 2.7812 2.4961 2.7812zm-29.535-16.082v20.164l-5.1328 0.003906c-0.55469 0-1-0.44922-1-1v-19.168zm-23.93 38.855h86.934v31.891h-86.934zm86.934 49.98c0 0.55078-0.44922 1-1 1h-84.934c-0.55078 0-1-0.44922-1-1v-15.09h86.934zm-86.934-52.98v-34.855c0-0.55078 0.44922-1 1-1h13.797v19.164c0 2.207 1.793 4 4 4h49.004c2.2031 0 4-1.793 4-4v-19.164h5.5742l9.5547 10.656v25.195z"/>
                </svg><br>
                <span>Click to Save Locally</span>
              </button>
            </div>
            <div id="save-divider-div">
              <span>AND / OR</span>
              <hr>  
            </div>
            
            <div id="save-post">
              <p>
              Share your image on the <a href="https://bsky.app/profile/woodblockshop.bsky.social" target="_blank">@woodblockshop</a> Bluesky art bot? Add a title (optional) and click Post. The bot will post it on its timeline soon.  
              </p>
              
              <div id="save-post-posted" style="text-align:center; font-weight:bold; display:none;">
                Posted! Your creation will show up on the bot account at some point. Refresh the page to make another image!
              </div>
              <div id="save-post-button">
                
              <input type="text" id="post-title" placeholder="Title of Work (optional)">
                
              <button  @click="postImage">

                <svg fill="#000000" width="55px" height="55px" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
 <g fill-rule="evenodd">
  <path d="m70.332 56.668c1.3125 0 2.1094-1.4414 1.4141-2.5508l-13.668-21.832c-0.65234-1.043-2.168-1.043-2.8242-0.003906l-7.0508 11.207-5.1328-7.9883c-0.65625-1.0234-2.1562-1.0234-2.8086 0.003906l-11.867 18.602c-0.70703 1.1094 0.089844 2.5625 1.4062 2.5625zm-28.645-17.152l5.1328 8c0.66016 1.0273 2.1641 1.0195 2.8125-0.015625l7.0352-11.168 10.641 17h-34.477z"/>
  <path d="m43.332 25c0-2.7617-2.2383-5-5-5s-5 2.2383-5 5 2.2383 5 5 5 5-2.2383 5-5zm-5 1.668c0.92188 0 1.668-0.74609 1.668-1.668s-0.74609-1.668-1.668-1.668c-0.91797 0-1.6641 0.74609-1.6641 1.668s0.74609 1.668 1.6641 1.668z"/>
  <path d="m86.488 47.57c0.125 0.25781 0.17969 0.51172 0.17969 0.76953v46.648c0 0.91797-0.74609 1.6641-1.668 1.6641h-70c-0.92188 0-1.668-0.74609-1.668-1.6641v-46.648c0-0.25781 0.054688-0.51172 0.16797-0.74609 0.12891-0.25391 0.29688-0.45312 0.5-0.60547l9.332-7.1562v4.2031l-6.6641 5.1094v4.1758l22.223 16.668h22.219l22.223-16.668v-4.1758l-6.6641-5.1094v-4.2031l9.332 7.1562c0.20312 0.15234 0.375 0.35156 0.48828 0.58203zm-50.691 24.266l-19.129 19.129v-33.477zm3.2266 1.4844h21.953l20 20h-61.953zm25.18-1.4844l19.129-14.348v33.477z"/>
  <path d="m80 20.668c0-0.44141-0.17578-0.86719-0.48828-1.1797l-15.668-15.668c-0.3125-0.3125-0.73438-0.48828-1.1758-0.48828h-41c-0.92188 0-1.668 0.74609-1.668 1.668v55h3.332v-53.332h36.668v15c0 0.91797 0.74609 1.6641 1.668 1.6641h15v36.668h3.332zm-16.668-0.66797v-11.965l11.969 11.965z"/>
 </g>
</svg>

                
                <br>
                <span>Click to Post</span>
              </button>              
              </div>
              
            </div>

            


          </div>



        </div>






      </div>

        <script>
          
          
          
          const { createApp } = Vue

        function getRandomElements(array, count) {
          const shuffledArray = array.slice(); // Create a copy to avoid modifying the original array
          for (let i = shuffledArray.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [shuffledArray[i], shuffledArray[j]] = [shuffledArray[j], shuffledArray[i]];
          }
          return shuffledArray.slice(0, count);
        }

        let vue = createApp({
          delimiters: ["${", "}$"],
          // for standalone
          compilerOptions: {
            delimiters: ["${", "}$"]
          },          
          
          
          data() {
            return {

              activeTab: 'welcome',
              allImages: {},
              categories: {},
              activeCategory: null,
              randomImages: [],
              categoriesPos: 0,
              activeSources:[],


            }
          },

          methods:{

            downloadImage(){
              tr.nodes([]);
             var dataURL = stage.toDataURL({ pixelRatio: 1.25 });
             downloadURI(dataURL, 'stage.png');

              
              
            

              

            },
            
            
            posted(){
              
              document.getElementById('save-post-button').style.display = 'none';
              
              document.getElementById('save-post-posted').style.display = 'block';
              
              window.setTimeout(()=>{
                
                document.getElementById('save-post-button').style.display = 'block';
              },1000*120)
              
              
            },

            
            
            
            postImage(){
              
             tr.nodes([]); 
              this.buildActiveSources()
              if (this.activeSources.length==0){ alert("No images?"); return false;}
              
             var dataURL = stage.toDataURL({ pixelRatio: 1.25 });

              
            fetch('/postimage', {
              

              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
               body: JSON.stringify({
                 // your expected POST request payload goes here
                 title: document.getElementById('post-title').value,
                 data: dataURL,
                 sources: this.activeSources
                })
            })
              .then(res => res.json())
              .then(data => {
               // enter you logic when the fetch is successful
              console.log(data)
              if (data && data.statusCode && data.statusCode != 200){
                alert("There was an error posting :( you should save it locally.")
              }else{
                this.posted()
              }

            })
              .catch(error => {
              // enter your logic for when there is an error (ex. error toast)
               console.log(error)
              })                
              
                  
                  
                  
                  
              
              
              
            },
            
            
            buildActiveSources(){
              
              
                let r = []
                for (let node of layer.getChildren()){
                  if (node.attrs && node.attrs.id){
                    console.log(node.attrs.id)
                    let k = node.attrs.id.split("---")[0]
                    let image = `https://woodblockshop.s3.us-east-1.amazonaws.com/images/${k}.png`
                    let title =  this.allImages[k]
                    let url = `https://collectie.antwerpen.be/impressedbyplantin/search(popup:asset/${k})`
                    r.push({
                      image:image,
                      title:title,
                      url:url,
                      key:k
                    })


                  }
                }

                this.activeSources=r              
              
              
            },
            
            
            
            loadCategory(cat){

              this.activeCategory=cat
              let toadd = []


              for (let c of this.categories[cat].files){
                let image = `https://woodblockshop.s3.us-east-1.amazonaws.com/images/${c}.png`
                let title =  this.allImages[c]
                let url = `https://collectie.antwerpen.be/impressedbyplantin/search(popup:asset/${c})`


                toadd.push({

                  image:image,
                  title:title,
                  url:url,
                  key:c
                })

              }
              this.randomImages=toadd
              this.categoriesPos=document.getElementById('categories').scrollTop
              console.log("this.categoriesPos")

            },


            addImage(event, imgObj){


              let newEl = document.createElement("img")
              newEl.setAttribute('src',event.target.getAttribute('src') + "?nocache")
              newEl.classList.add('image-dump')
              newEl.crossOrigin = 'Anonymous';
              
              cache: 'no-store',

              document.body.appendChild(newEl)
              console.log(imgObj)
              var image = new Konva.Image({
                image: newEl,
                draggable: true,
                name: 'rect',
                id: imgObj.key + '---' + Math.random() * (1000000 - 1) + 1
              });
              layer.add(image);
              tr.nodes([image]);
              activeNode=image
              testButtons(image)
              
              newEl.style.display='none'
            
              // move the selection box to the top of the stack
              for (let node of layer.getChildren()){
                if (node.children && node.children.length==10){
                  node.zIndex(layer.getChildren().length-1)              
                }
              }
              
              
              if (palletDisplayed){
                 document.getElementById("container-pallet-tab-button").click()     
              }
        


            },


            vistSite(url){

              if (url.startsWith('http')){

                window.open(url, '_blank').focus();


              }else{


              }


            },

            activateTab(tab){
              console.log("this.categoriesPos===",this.categoriesPos)
              console.log("tab===",tab)
              this.activeCategory = null
              console.log("categories",this.categories)
              if (tab=='random'){
                this.buildRandom()
              }
              
              
              if (tab=='categories'){


              }
              if (tab=='save'){


              }

              if (tab=='sources'){

                this.buildActiveSources()
                
              }


              this.activeTab = tab
                console.log('before',document.getElementById('categories'),this.categoriesPos)

              this.$nextTick(() => {
                console.log(document.getElementById('categories'),this.categoriesPos)
                if (document.getElementById('categories')){
                    document.getElementById('categories').scrollTop =this.categoriesPos 
                }
              });



            },

            buildRandom(){

              let keys = Object.keys(this.allImages)

              let randomKeys = getRandomElements(keys, 64)
              // let randomOther = getRandomElements(this.categories.other.files,1)
              // randomKeys = randomKeys.concat(randomOther)
              let r = []
              for (let k of randomKeys){

                let image = `https://woodblockshop.s3.us-east-1.amazonaws.com/images/${k}.png`
                let title =  this.allImages[k]
                let url = `https://collectie.antwerpen.be/impressedbyplantin/search(popup:asset/${k})`
                r.push({
                  image:image,
                  title:title,
                  url:url,
                  key:k
                })

              }

              this.randomImages=r




            },




          },

          created(){

            let imagesPromise
            let categoriesPromise

            try{
              imagesPromise = fetch('https://woodblockshop.s3.us-east-1.amazonaws.com/all_files.json')
            }catch{
              alert("Error: Could not download images.")
            }
            try{
              categoriesPromise = fetch('https://woodblockshop.s3.us-east-1.amazonaws.com/categories.json')
            }catch{
              alert("Error: Could not download categories.")
            }
            
       


            Promise.all([imagesPromise, categoriesPromise]).then(async (values) => {
              this.allImages = await values[0].json()
              this.categories = await values[1].json()
              this.categoriesData = JSON.parse(JSON.stringify(this.categories))
              console.log(this.categories)
              this.categoriesDataKeys = Object.keys(this.categoriesData)
              this.buildRandom()


            });





          }
        }).mount('#app')
        
      </script>



      </div>


    </div>

    <script>
      var width = 600;
      var height = 600;
      var palletDisplayed=false;

      var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height,
      });

      var layer = new Konva.Layer();
      stage.add(layer);



      let activeNode = null
      let moveUpLayerButton = document.getElementById('button-send-up-one-layer')
      let moveDownLayerButton = document.getElementById('button-send-down-one-layer')
      let deleteLayerButton = document.getElementById('button-delete')
      let addWhiteSquareButton = document.getElementById('button-add-white-square')
      let addBlackSquareButton = document.getElementById('button-add-black-square')

      function downloadURI(uri, name) {
        var link = document.createElement('a');
        link.download = name;
        link.href = uri;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;
      }

      testButtons = function(b){
        console.log(b.zIndex())
          let totalNodes = stage.find('.rect').length
          if (b.zIndex()>=0 && b.zIndex() < totalNodes ){
            moveUpLayerButton.disabled = false
            moveUpLayerButton.children[0].removeAttribute('fill')
          }else{
            moveUpLayerButton.disabled = true
            moveUpLayerButton.children[0].setAttribute('fill','lightgray')
          }

          if (b.zIndex()!= 1 && b.zIndex() - 1 >= 1 ){
            moveDownLayerButton.disabled = false
            moveDownLayerButton.children[0].removeAttribute('fill')
          }else{
            moveDownLayerButton.disabled = true
            moveDownLayerButton.children[0].setAttribute('fill','lightgray')
          }    
          deleteLayerButton.disabled = false
          deleteLayerButton.children[0].removeAttribute('fill')

              
      }


      moveUpLayerButton.addEventListener('click',()=>{
        activeNode.zIndex(activeNode.zIndex()+1)
        testButtons(activeNode)
      })
      moveDownLayerButton.addEventListener('click',()=>{
        // if (activeNode.zIndex(activeNode.zIndex()) > 2){
          activeNode.zIndex(activeNode.zIndex()-1)
          testButtons(activeNode)
        // }
      })
      deleteLayerButton.addEventListener('click',()=>{
        console.log(activeNode)
        tr.nodes([]);

        activeNode.remove()

      })
      addWhiteSquareButton.addEventListener('click',()=>{
          
        let rectNew = new Konva.Rect({
          x: 150,
          y: 150,
          width: 150,
          height: 150,
          fill: 'white',
          name: 'rect',
          draggable: true,
        });
        layer.add(rectNew);
        tr.nodes([rectNew]);
        activeNode=rectNew
        testButtons(rectNew)



      })
      addBlackSquareButton.addEventListener('click',()=>{
          
        let rectNew = new Konva.Rect({
          x: 150,
          y: 150,
          width: 150,
          height: 150,
          fill: 'black',
          name: 'rect',
          draggable: true,
        });
        layer.add(rectNew);
        tr.nodes([rectNew]);
        activeNode=rectNew
        testButtons(rectNew)



      })


      var background = new Konva.Rect({
        x: 0,
        y: 0,
        width: stage.width(),
        height: stage.height(),
        name: 'rect',
        fill: 'white',
        // remove background from hit graph for better perf
        // because we don't need any events on the background
        listening: false,
      });
      layer.add(background);




      var tr = new Konva.Transformer();
      layer.add(tr);

      // by default select all shapes

      // add a new feature, lets add ability to draw selection rectangle
      var selectionRectangle = new Konva.Rect({
        fill: 'rgba(0,0,255,0.5)',
        visible: false,
        // disable events to not interrupt with events
        listening: false,
      });
      layer.add(selectionRectangle);

      var x1, y1, x2, y2;
      var selecting = false;
      stage.on('mousedown touchstart', (e) => {
        // do nothing if we mousedown on any shape
        if (e.target !== stage) {


            // moveUpLayerButton.disabled = true
            // moveUpLayerButton.children[0].setAttribute('fill','lightgray')
            // moveDownLayerButton.disabled = true
            // moveDownLayerButton.children[0].setAttribute('fill','lightgray')

          return;
        }
        e.evt.preventDefault();
        x1 = stage.getPointerPosition().x;
        y1 = stage.getPointerPosition().y;
        x2 = stage.getPointerPosition().x;
        y2 = stage.getPointerPosition().y;

        selectionRectangle.width(0);
        selectionRectangle.height(0);
        selecting = true;
      });

      stage.on('mousemove touchmove', (e) => {
        // do nothing if we didn't start selection
        if (!selecting) {
          return;
        }
        e.evt.preventDefault();
        x2 = stage.getPointerPosition().x;
        y2 = stage.getPointerPosition().y;

        selectionRectangle.setAttrs({
          visible: true,
          x: Math.min(x1, x2),
          y: Math.min(y1, y2),
          width: Math.abs(x2 - x1),
          height: Math.abs(y2 - y1),
        });
      });

      stage.on('mouseup touchend', (e) => {
        // do nothing if we didn't start selection
        selecting = false;


          // moveUpLayerButton.disabled = true
          // moveUpLayerButton.children[0].setAttribute('fill','lightgray')
          // moveDownLayerButton.disabled = true
          // moveDownLayerButton.children[0].setAttribute('fill','lightgray')

        if (!selectionRectangle.visible()) {
          return;
        }
        e.evt.preventDefault();
        // update visibility in timeout, so we can check it in click event
        selectionRectangle.visible(false);
        var shapes = stage.find('.rect');
        var box = selectionRectangle.getClientRect();
        var selected = shapes.filter((shape) => {
          
            if (shape==background){ return false}

            return Konva.Util.haveIntersection(box, shape.getClientRect())
          }
        );
        tr.nodes(selected);
      });

      // clicks should select/deselect shapes
      stage.on('click tap', function (e) {
        // if we are selecting with rect, do nothing
        if (selectionRectangle.visible()) {


          return;
        }

        // if click on empty area - remove all selections
        if (e.target === stage) {
          tr.nodes([]);
          moveUpLayerButton.disabled = true
          moveUpLayerButton.children[0].setAttribute('fill','lightgray')
          moveDownLayerButton.disabled = true
          moveDownLayerButton.children[0].setAttribute('fill','lightgray')
          deleteLayerButton.disabled = true
          deleteLayerButton.children[0].setAttribute('fill','lightgray')



          return;
        }

        // do nothing if clicked NOT on our rectangles
        if (!e.target.hasName('rect')) {
          return;
        }

        // do we pressed shift or ctrl?
        const metaPressed = e.evt.shiftKey || e.evt.ctrlKey || e.evt.metaKey;
        const isSelected = tr.nodes().indexOf(e.target) >= 0;

        if (!metaPressed && !isSelected) {
          // if no key pressed and the node is not selected
          // select just one
          tr.nodes([e.target]);
          console.log(e.target)
          console.log("tr",tr)
          console.log("tr.nodes",tr.nodes())

          console.log(layer.getChildren(),)
          for (let node of layer.getChildren()){
            if (node.children && node.children.length==10){
              node.zIndex(layer.getChildren().length-1)              
            }
          }
          console.log(e.target.zIndex())
          activeNode=e.target

          let totalNodes = stage.find('.rect').length


        
          deleteLayerButton.disabled = false
          deleteLayerButton.children[0].removeAttribute('fill')

          if (e.target.zIndex()>=0 && e.target.zIndex() < totalNodes ){
            moveUpLayerButton.disabled = false
            moveUpLayerButton.children[0].removeAttribute('fill')
          }else{
            moveUpLayerButton.disabled = true
            moveUpLayerButton.children[0].setAttribute('fill','lightgray')
          }

          if (e.target.zIndex()!= 0 && e.target.zIndex() - 1 >= 0 ){
            moveDownLayerButton.disabled = false
            moveDownLayerButton.children[0].removeAttribute('fill')
          }else{
            moveDownLayerButton.disabled = true
            moveDownLayerButton.children[0].setAttribute('fill','lightgray')
          }

          


        } else if (metaPressed && isSelected) {
          // if we pressed keys and node was selected
          // we need to remove it from selection:
          const nodes = tr.nodes().slice(); // use slice to have new copy of array
          // remove node from array
          nodes.splice(nodes.indexOf(e.target), 1);
          tr.nodes(nodes);
        } else if (metaPressed && !isSelected) {
          // add the node into selection
          const nodes = tr.nodes().concat([e.target]);
          tr.nodes(nodes);
        }
      });

      

      let resizeToolbar = function(){
        console.log(document.body.getBoundingClientRect().width)
        console.log(document.body.getBoundingClientRect().width)
        console.log(document.body.getBoundingClientRect().width)
        
        
        if (document.body.getBoundingClientRect().width <= 500){
          console.log(document.body.getBoundingClientRect().width)
          document.getElementById("toolbar").style.top = document.getElementById("container").getBoundingClientRect().top - 100 + 'px'
          document.getElementById("toolbar").style.left = document.getElementById("container").getBoundingClientRect().left + 0 + 'px'

        
        
        
        }else if (document.body.getBoundingClientRect().width <= 1100){

          document.getElementById("toolbar").style.top = document.getElementById("container").getBoundingClientRect().top - 75 + 'px'
          document.getElementById("toolbar").style.left = document.getElementById("container").getBoundingClientRect().left + 0 + 'px'


        }else{

          document.getElementById("toolbar").style.top = document.getElementById("container").getBoundingClientRect().top + 'px'
          document.getElementById("toolbar").style.left = (document.getElementById("container").getBoundingClientRect().left / 2) - 50 + 'px'


        }

      }


      resizeToolbar()

      window.addEventListener("resize", ()=>{


        resizeToolbar()


      });
      
      
      
      
      document.getElementById("container-pallet-tab-button").addEventListener('click',()=>{


        console.log(document.getElementById("container-pallet").getBoundingClientRect().right)
          
           let offScreenAmt = document.getElementById("container-pallet").getBoundingClientRect().right - document.body.getBoundingClientRect().width

           
        
            if (offScreenAmt > 10){
              document.getElementById("container-pallet").style.right="0px";
              palletDisplayed=true
            }else{
              document.getElementById("container-pallet").style.right="-150%";
              palletDisplayed=false
            }
        
//         if (document.getElementById("container-pallet").getBoundingClientRect().right <400){
//           document.getElementById("container-pallet").style.right="0px";  
          
//           document.getElementById("container-pallet-tab-button").classList.add('rotate180')
          
//         }else{
//           document.getElementById("container-pallet").style.right=window.screen.width*-1+'px';  
//           document.getElementById("container-pallet-tab-button").classList.remove('rotate180')

//         }

        
        
        
      })
      

      if (document.getElementById("container-pallet").getBoundingClientRect().right >1000){

        // document.getElementById("container-pallet-tab-button").click()
        
      }
      



    </script>
    
    
  </body>
</html>
